name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/arm/v7
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/discord-bot:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 20  # Set according to your needs

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Start keep-alive script
      run: ./keep_alive.sh &

    - name: SSH into Raspberry Pi and deploy
      timeout-minutes: 20
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PI_HOST }}
        username: ${{ secrets.PI_USER }}
        key: ${{ secrets.PI_SSH_KEY }}
        script: |
          echo timestamp=$(date +%s) >> gitflow_logs.txt
          docker pull ${{ secrets.DOCKER_USERNAME }}/discord-bot:latest
          docker stop discord_bot || true
          docker rm discord_bot || true
          docker run -d --name discord_bot --env-file .env ${{ secrets.DOCKER_USERNAME }}/discord-bot:latest

    - name: Stop keep-alive script
      run: pkill -f keep_alive.sh
